body {
  font-family: Arial, sans-serif;
 background-color: pink;
}

.nav-element li {
 list-style: none;
 display: inline;
 margin-left: 50px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-element li:hover {
 background-color: yellowgreen;
 color: white;
 padding: 5px;
 border-radius: 5px;
}

/* ul {
 text-align: center;
 margin-right: 90px
} */

.logo {
 text-align: center;
 background-color: gray;
 margin: auto;
 padding: 20px;
 height: 60px;

}

.navdiv {
 background-color:  #fff685;
 padding: 20px;
 
}

.SignUp-button {
 background-color:  #5cbdb9;
 color: white;
 border-radius: 5px;
 padding: 5px;
 margin-right: 10px;
 margin-left: 40px;
 width: 90px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.SignUp-button:hover {
 cursor: pointer;
 transform: scale(1.1);
}

.logIn-button {
 background-color: #beef00;
 color: white;
 border-radius: 5px;
 padding: 5px;
 width: 90px;
 margin-left: 30px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logIn-button:hover {
 cursor: pointer;
 transform: scale(1.1);
}

.nav-element:hover {
 cursor: pointer;
}

.recipies1 {
 border: 5px inset  #ffa8B6;
 border-radius: 10px;
 margin-bottom: 20px;
 border-color: #ffa8B6;

}

.pic1-div {

 margin: auto;
 width: 400px;
 margin-top: 20px;
 display: inline;
}

.pic {
 width: 400px;
 margin-top: 20px;
 margin-left: 10px;
}
.pic:hover{
 cursor: pointer;
 background-color:#ffa8B6;
 border-radius: 100px;
 transform: scale(1.02);
}

/* 
.pic2-div {
 border: 5px inset brown;
 margin: auto;
 width: 400px;
 margin-top: 20px;
 display: inline;

}

.pic2 {
 width: 400px;
}

.pic3-div {
 border: 5px inset brown;
 margin: auto;
 width: 400px;
 margin-top: 20px;
 display: inline;
}

.pic3 {
 width: 400px;
} */



.food-name1 {
 margin-left: 140px;
 display: inline-block;
 border: 0px inset gray;
 width: 150px;
 height: 60px;
 margin-bottom: 20px;
 background-color: gray;
 border-radius: 5px;
 margin-top: 10px;
}
.food-name1:hover{
 cursor: pointer;
 background-color: #ffa8B6;
 transform: scale(1.03);
 border-radius: 10px;
}
.food-name1:active{
 background-color: #c89666;
}

.food-name2 {
 margin-left: 250px;
 display: inline-block;
 /* border: 0px inset gray; */
 width: 150px;
 height: 60px;
 margin-bottom: 20px;
 background-color: gray;
 border-radius: 5px;
}
.food-name2:hover{
 cursor: pointer;
 background-color: #ffa8B6;
 transform: scale(1.1);
}
.food-name2:active{
 background-color: #c89666;
}

.food-name3 {
 margin-left: 250px;
 display: inline-block;
 /* border: 0px inset gray; */
 width: 150px;
 height: 60px;
 margin-bottom: 20px;
 background-color: gray;
 border-radius: 5px;
 
}
.food-name3:hover{
 cursor: pointer;
 background-color: #ffa8B6;
 transform: scale(1.1);
}
.food-name3:active{
 background-color: #c89666;
}

.food-name-paragraph{
 font-size: 20px;
 margin-left: 40px;
 margin-right: 40px;
}
.food-name-paragraph:hover{
 cursor: pointer;
}
.food-name-paragraph2{
 font-size: 20px;
 margin-left: 30px;
 margin-right: 40px;
}
.food-name-paragraph3{
 font-size: 20px;
 margin-left: 15px;
 margin-right: 40px;
}

.footer-div{
  margin-bottom: 10px;
}
.footer-ul{
  list-style: none;
  display: flex;
 
  justify-content: space-between;
  
}
.footer-ul  li{
  margin-right: 30px;
  font-size: large;
  
}
.footer-ul li:hover{
  opacity: 80%;
  background-color: gray;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  height: 20px;
}
.logo1{
  width: 20px;
  margin-right: 5px;
  height: 20px;
}
.big-img {
 background-image: url("PROJECTS IMAGE/pic1.jpg");
 height: 400px;
 background-size: contain; 
}
.main-down-div{
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
.down-div1 li{
   
    list-style: none;
    
    margin-left: 20px;
}

   

.footer-paragraph{
  margin-left: 50px;
}